*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: sans-serif;
    transform-style: preserve-3d;
}
body{
    overflow: hidden;
    perspective: 1000px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.board{
    width: 600px;
    height: 600px;
    background-color: red;
    animation: rotate 5s infinite linear;
}
.board>.top{
    width: 600px;
    height: 600px;
    background:url(img/monopoky.jpg);
    background-size: cover;
}
.board>.front,.board>.right,.board>.left,.board>.back{
    background-color: brown;
    width: 600px;
    position: absolute;
    height: 20px;
}
.board>.front{
    transform: translateY(-10px) translateZ(-10px) rotateX(90deg);
}
.board>.right{
    transform: translate(300px, -310px) translateZ(-10px) rotate(90deg) rotateX(90deg);
}
.board>.left{
    transform: translate(-300px, -310px) translateZ(-10px) rotate(90deg) rotateX(90deg);
    background-color: brown;
}
.board>.back{
    transform: translateY(-610px) translateZ(-10px) rotateX(-90deg);
    background-color: brown;
}
.first{
    animation: cubefirst 5s infinite linear reverse;
}
.second{
    animation: cubesecond 5s infinite linear reverse;
}
.cube{

    width: 20px;
    height: 20px;
}
.cube>.front,.cube>.right,.cube>.left,.cube>.back, .cube>.top,.cube>.bottom{
    position: absolute;
    width: 30px;
    height: 30px;
    background-size: contain;
}
.cube>.bottom{
    background-image: url("img/6.png");
}
.cube>.front{ 
    background-image: url("img/1.png");
    transform:translateY(15px) translateZ(15px) rotateX(90deg);
}
.cube>.back{
    background-image: url("img/2.png");
    transform:translateY(-15px) translateZ(15px) rotateX(90deg);

}
.cube>.left{
    background-image: url("img/3.png");
    transform:translateX(-15px) translateZ(15px) rotateY(90deg);
}
.cube>.right{
    background-image: url("img/4.png");
    transform:translateX(15px) translateZ(15px) rotateY(90deg);
}
.cube>.top{
    background-image: url("img/5.png");
    transform: translateZ(30px);
}
.shadow{
    position: absolute;
    width: 30px;
    height: 30px;
    box-shadow: 0px 0px 10px #000,
    0px 0px 60px inset rgba(0, 0, 0, 0.9);
}
.firsts{
    animation: shadowfirst 5s infinite linear reverse;
}
.seconds{
    animation: shadowsecond 5s infinite linear reverse;
}

@keyframes rotate {
    0%{
        transform: rotateX(85deg) rotate(0deg) scale(1);
    }
    50%{
        transform: rotateX(0deg) rotate(180deg) scale(2);
    }
    100%{
        transform: rotateX(85deg) rotate(360deg) scale(1.2);
    }   
}
@keyframes cubefirst {
    0%{
        transform: translate(160px, -190px) translateZ(60px) rotate(90deg) rotateX(180deg);
    }
    25%{
        transform: translate(360px, -210px) translateZ(0px) rotate(300deg) rotateX(360deg);

    }
    50%{
        transform: translate(330px, -490px) translateZ(60px) rotate(280deg) rotateX(180deg);
    }
    75%{
        transform: translate(160px, -490px) translateZ(0px) rotate(300deg) rotateX(360deg);
    }
    100%{
        transform: translate(160px, -190px) translateZ(60px) rotate(100deg) rotateX(180deg);
    }
}
@keyframes shadowfirst {
    0%{
        transform: translate(160px, -210px) rotate(180deg) skewX(15deg);
        box-shadow:0px 0px 60px #000,
        0px 0px 1200px inset rgba(0, 0, 0, 0.3);
    }
    25%{
        transform: translate(360px, -240px) rotate(360deg) skewX(0deg);
        box-shadow:0px 0px 10px #000,
        0px 0px 60px inset rgba(0, 0, 0, 0.8);
    }
    50%{
        transform: translate(330px, -510px) rotate(360deg) skewX(15deg);
        box-shadow:0px 0px 60px #000,
        0px 0px 1200px inset rgba(0, 0, 0, 0.3);
    }
    75%{
        transform: translate(160px, -510px) rotate(360deg) skewX(0deg);
        box-shadow:0px 0px 10px #000,
        0px 0px 60px inset rgba(0, 0, 0, 0.8);
    }
    100%{
        transform: translate(160px, -210px) rotate(180deg) skewX(15deg);
        box-shadow:0px 0px 60px #000,
        0px 0px 1200px inset rgba(0, 0, 0, 0.3);
    }
}
@keyframes cubesecond {
    0%{
        transform: translate(230px, -150px) translateZ(60px) rotate(180deg) rotateX(180deg);
    }
    25%{
        transform: translate(430px, -170px) translateZ(0px) rotate(360deg) rotateX(360deg);

    }
    50%{
        transform: translate(400px, -450px) translateZ(60px) rotate(180deg) rotateX(180deg);
    }
    75%{
        transform: translate(230px, -450px) translateZ(0px) rotate(360deg) rotateX(360deg);
    }
    100%{
        transform: translate(230px, -150px) translateZ(60px) rotate(180deg) rotateX(180deg);
    }
}
@keyframes shadowsecond {
    0%{
        transform: translate(230px, -170px) rotate(180deg) skewX(15deg);
        box-shadow:0px 0px 60px #000,
        0px 0px 1200px inset rgba(0, 0, 0, 0.3);
    }
    25%{
        transform: translate(430px, -200px) rotate(360deg) skewX(0deg);
        box-shadow:0px 0px 10px #000,
        0px 0px 60px inset rgba(0, 0, 0, 0.8);
    }
    50%{
        transform: translate(400px, -470px) rotate(360deg) skewX(15deg);
        box-shadow:0px 0px 60px #000,
        0px 0px 1200px inset rgba(0, 0, 0, 0.3);
    }
    75%{
        transform: translate(230px, -470px) rotate(360deg) skewX(0deg);
        box-shadow:0px 0px 10px #000,
        0px 0px 60px inset rgba(0, 0, 0, 0.8);
    }
    100%{
        transform: translate(230px, -370px) rotate(180deg) skewX(15deg);
        box-shadow:0px 0px 60px #000,
        0px 0px 1200px inset rgba(0, 0, 0, 0.3);
    }
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* selectname*/
.selectname .txnum{
    font-size: 64px;
    width: 100%;
    text-align: center;
}
.selectname input:focus{
    border: 2px solid #fd2522;
}
.selectname input{
    font-size: 32px;
    text-align: center;
    border: 2px solid orange;
    background-color: #f7b777;
    display: block;
    padding: 10px 5px;
    margin: 80px auto;
    width: 60%;
}
.selectname .submit{
    padding: 10px;
    font-size: 48px;
    text-align: center;
    width: 80%;
    height: 60px;
    margin: 10% auto;
    background: radial-gradient(#f7b777,#fd2522);
    color: #fff;
    border-radius: 5px;
}
.selectname .submit:hover{
    background: radial-gradient(#d6a666,#fa1411);
    text-shadow: 5px 5px 5px #aa0000;
}
/* selectname end*/

.choose{
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
    bottom: 20%;
    background-color: rgba(255, 255, 255, 0.8);
}
.flex>div{
    line-height: 100px;
    font-size: 36px;
    text-align: center;
    margin: 2% 5%;
    height: 100px;
    width: calc(100%/5);
    background-color: rgba(0, 0, 0, 0.2);
    transition: transform;
    transition-duration: .5s;
}
.choose:hover{
    cursor: pointer;
}
.flex>div:hover{
    color: red;
    transform: scale(1.2);
    background-color: rgba(0, 0, 0, 0.4);
}
.flex .picked{
    background-color: #aa0000;
}